.landpage {
    background-color: #e1e4eb;
}

.body {
    margin-top: 77px;
}

.head-body {
    margin-top: 80px;
    font-size: 3em;
}

.text-body {
    font-size: 1.5rem;
}

.wrap-log {
    margin-right: 80px !important;
}

.navbar {
    height: 14%;
    background-color: #ffffff;
}

.navbar .petani {
    margin-left: 123px !important;
}

.navbar .petani img {
    width: 13rem;
}

.login a {
    color: #001D6C !important;
    font-size: 1.5rem;
}

.img-slide {
    margin-top: 70px;
}

.slide-btn {
    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    width: 30vw;
    height: 40px;
    display: flex;
}

.next-slide{
    width: fit-content;
}
.slide-carousel {
    margin-left: 10px;
}

.slide-carousel button {
    margin-top: 5px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.carousel img {
    width: 30vw;
    /* border-radius: 0px 0px 40px 10px; */
}

.quetion {
    margin-top: 10%;
}

.quetion p {
    line-height: 0%;
    font-size: 1rem;
}

.answer {
    margin-bottom: 7%;
}

.footer {
    margin-top: 5rem;
    width: 100%;
    background-color: #697077;
}


.footer img {
    width: 15rem;
    padding: 1rem;
}

.footer p {
    font-size: 1.2rem;
    margin-top: 2em;
    color: #FFFFFF;
}

.accordion {
    width: 80%;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}
.carousel-control{
    border: black solid !important;
    
}
.carousel-control-next{
    margin-top: 24% !important;
    height: 50%;
    width: 50% !important;
    position: static;
    background-color: transparent !important;
    border: 0 !important;
    
}
.carousel-control-next-icon{
    height: 60%;
    width: 60%;
    background-color: #001D6C !important;
    border: 0;
}
.carousel-control-prev{
    margin-top: 24% !important;
    height: 50%;
    width: 50% !important;
    position: static;
    background-color: transparent !important;
    border: 0 !important;
}
.carousel-control-prev-icon{
    height: 60%;
    background-color: #697077;
    border: 0;
}
.carousel-control-prev-icon{
    fill: #001D6C !important;
}
.next-img{
    margin-right: 10px;
    margin-left: auto;
    display: flex;
}